*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/jdk-17.0.12+7
/jdk.zip
/jdk-17.zip
/mobilenet.zip
/mobilenet_model
/test.tflite
/test2.tflite
/test3.tflite
/mcp.json
/payload.json
app/build/
